body{
    margin: 0;
}

h3{
    margin-top: 0;
}

.map_wrap, .map_wrap * {
    margin:0;
    padding:0;
    font-family:'Malgun Gothic',dotum,'돋움',sans-serif;
    font-size:12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active{
    color:#000;
    text-decoration: none;
}

.map_wrap {
    top: 0;
    right: 0;
    bottom: 0;
    left: 420px;
    position: absolute;
    overflow: hidden;
}

.nav_wrap {
    width:200px;
    height:300px;
}

.header_wrap{
    padding: 0;
    margin: 0;
    height: 150px;
}

#menu_wrap {
    top:0;
    left:0;
    height:500px;
    width:400px;
    padding:5px;
    overflow-y:auto;
    background: rgba(255, 255, 255, 0.7);
    z-index: 25;
    font-size:12px;
    border-radius: 10px;
    position: relative;
    float: left;
    padding-bottom:50px;
}

.header_wrap{
    background-color: #BDCEBE;
}

.bg_white {
    background:#fff;
}

.placesList hr{
    height: 1px;
    border: 0;
    border-top: 1px dotted #5F5F5F;
    margin:3px 0;
}

/* #menu_wrap .option{
    text-align: center;
}

#menu_wrap .option p {
    margin:10px 0;
}  

#menu_wrap .option button {
    margin-left:5px;
} */

#pagination a {
    margin-right:10px;
}

#pagination {
    text-align: center;
}

#pagination:hover{
    color: black;
}

#pagination:link{
    color: black;
}

#pagination .on {
    font-weight: bold;
    cursor: default;
    color:black;
}

li{
    list-style-type: decimal;
}

header{
    padding-bottom: 10px;
}

section{
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
}