body{
    margin: 0;
    width: 100vw;
    height: 100vh;
}

h3, h4, h5{
    margin: 0;
}

.map_wrap, .map_wrap * {
    margin:0;
    padding:0;
    font-family:'Malgun Gothic', dotum,'돋움',sans-serif;
    font-size:12px;
}

.map_wrap a, .map_wrap a:hover, .map_wrap a:active{
    color:#000;
    text-decoration: none;
}

.map_wrap {
    top: 0;
    right: 0;
    bottom: 0;
    left: 420px;
    position: absolute;
    overflow: hidden;
}

#nav_wrap {
    /* background-color: #5F5F5F; */
    width: 450px;
    height: 500px;
}

.header_wrap{
    padding: 20px 20px 0px 20px;
    margin: 0;
    height: 180px;
}

.title{
    display: flex;
    /* align-items: center; */
    height: 50px;
}

.menu-select{
    display: flex;
    align-items: flex-start;
    height: 50px;
}

.menu-select button{
    position: absolute;
    left: 270px;
    border: 0;
    background-color: #ffb6c1;
    cursor: pointer;
    color: #fff;
}

ul {
    padding-inline-start: 20px;
}

#menu_wrap {
    top:0;
    left:0;
    height: 500px;
    padding: 5px;
    margin: 20px 5px;
    overflow-y:auto;
    z-index: 25;
    font-size:12px;
    position: relative;
    float: left;
    padding-bottom:50px;
}

.header_wrap{
    background-color: #ffb6c1;
}

.bg_white {
    background:#fff;
}

.placesList hr{
    height: 1px;
    border: 0;
    border-top: 1px dotted #5F5F5F;
    margin:3px 0;
}

.option{
    display: flex;
    align-items: center;
    height: 46px;
    width: 370px;
    border-radius: 3px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #fff;
    justify-content: space-between;
}

.option input{
    float: left;
    width: 330px;
    height: 19px;
    padding: 12px 16px 15px;
    border: 0 none;
    font-size: 16px;
    line-height: 19px;
    outline: 0;
}

.option button{
    float: left;
    padding: 0;
    border: 0 none;
    margin: 5px 0;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    background-color: white;
    width: 55px;
    height: 46px;
    align-items: center;
}

#setLocation{
    margin-left: 100px;
    border: 0ch;
    background-color: #ffb6c1;
    cursor: pointer;
    color: #fff;
    position: absolute;
    left: 200px;
}

#pagination a {
    margin-right:10px;
}

#pagination {
    text-align: center;
    height: 400px;
}

#pagination:hover{
    color: black;
}

#pagination:link{
    color: black;
}

#pagination .on {
    /* font-weight: bold; */
    cursor: default;
    color:black;
}


li{
    list-style-type: decimal;
    margin-top: 30px;
}

header{
    /* padding-bottom: 10px; */
    width: 450px;
    height: 200px;
}

section{
    width: 450px;
    display: flex;
}

body {
    display: flex;
    flex-direction: column;
}

#geolocation_popup {
    position: fixed;
    z-index: 10;
    display:block;
    height: 60px;
    width:100%;
    top: -100px;
    background-color: #d8b6ff;
    text-align: center;
    transition: top 1.5s;
}

#geolocation_popup.error {
    background-color: #ffb6b6;
    top: 0px;
}
#geolocation_popup.success {
    background-color: #d8b6ff;
    top: 0px;
}

